    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="text-center pt-9">
                    <img src="./assets/logo.png" width="150px" alt="">
                </div>
                <div class="row">
                    
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading text-center mb-2 ">Bienvenido</h3>
      
                    <!-- Sign In Form  text-uppercase-->
                    <form>
                      <div class="form-floating mb-3">
                        <label for="floatingInput">Numero de Contador</label>
                        <br>
                        <br>
                        <!-- <input type="email" class="form-control" id="floatingInput" placeholder="4411005" required> -->

                        <input type="text" class="form-control" pInputText [(ngModel)]="value"  [placeholder]="placeholder" >
                      </div>
                      <div class="form-floating mb-2">
                        <label for="floatingPassword">Contraseña</label>
                        <br>
                        <br>
                        <input type="password" class="form-control" pInputText [(ngModel)]="value"  [placeholder]="placeholder" >
                        <!-- <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> -->
                        
                      </div>
      
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                        <label class="form-check-label " for="rememberPasswordCheck">
                          Recordar Contraseña
                        </label>
                      </div>
      
                      <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login btnPrincipal  fw-bold mb-2" type="submit">Iniciar Sesión</button>
                        <div class="text-left">
                          <a class="small" href="#">Recuperar Contraseña?</a>
                        </div>
                      </div>
      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


